.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

.logo {
  font-size: x-large;
  color: aqua;
}

.navbar {
  background-color: rgb(61, 47, 150);
}

.nav-link {
  text-decoration: none;
  color: aquamarine;
}


