<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>Album</title>

<!-- Bootstrap core CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">

<!-- Custom styles for this template -->
<link href="/CSS/main.css" rel="stylesheet">
<link href="/CSS/toolbar.css" rel="stylesheet">
<link href="/CSS/login.css" rel="stylesheet">
<link href="/CSS/album.css" rel="stylesheet">
</head>

<body class="bg-light">

	<!-- QUESTO SERVE AD AGGIUNGERE LA TOOLBAR (E PIU' SOTTO IL FOOTER)
	SENZA DOVER DUPLICARE/RISCRIVERE IL CODICE -->
	<header
		th:insert="${role} ?  ~{toolbar :: admin} : ~{toolbar :: normal}"></header>

	<main role="main">
	<section class="jumbotron text-center">
		<div class="container">

			<h1 class="jumbotron-heading text-capitalize" th:text="${album.nome}">Nome album</h1>
			<p th:if="${role} == 'ADMIN'">
				<a
					th:href="@{'/fotografo/' + ${fotografo.id} + '/album/' + ${album.id} + '/modifica'}"
					class="btn btn-primary my-2">Modifica Informazioni</a>
			</p>
			<div class="form inline">
				<form
					th:action="@{'/fotografo/' + ${fotografo.id} + '/album/' + ${album.id} + '/salvaFoto'}"
					method="post" enctype="multipart/form-data">
					<input class="btn btn-primary my-2 ml-auto" type="file"
						name="files" multiple>
					<button class="btn btn-primary my-2 ml-auto" type="submit">Carica</button>
				</form>
			</div>
		</div>
	</section>
	
	<div class="album py-5 bg-light">
		<div class="container">
			<div class="row">
				<div class="col-md-4 pl-5 mb-5" th:each="foto : ${fotografie}">
					<div class="mb-4">
						<img class="card-img-top"
							th:src="'/images/'+ ${path} + '/' + ${foto.nome}">
					</div>
					<div class="pl-5">
						<button class="btn btn-primary"
							onclick="document.getElementById('id02').style.display='block'">
							Visualizza</button>
					<div id="id02" class="foto modal">
						<!-- in realtà questo th:action dovrebbe inserire nel carrello -->
						<form class="contenuto modal-content animate" method="post"
							th:action="@{'/fotografo/' + ${idFotografo} + 
							'/album/' + ${idAlbum} + '/foto/' + ${idFoto}}">
							<div class="fotocontainer mb-4">
								<span
									onclick="document.getElementById('id02').style.display='none'"
									
									class="close" title="Chiudi">&times;</span>
									<img class="fotografia"
									th:src="'/images/'+ ${path} + '/' + ${foto.nome}">
							</div>
							<button class="btn btn-primary mr-auto ml-auto mb-5"
								type="submit">Aggiungi al carrello</button>
						</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</main>

	<footer th:insert="~{footer :: footer}"></footer>

	<script>
		// Get the modal
		var modal = document.getElementById('id01');

		// When the user clicks anywhere outside of the modal, close it
		window.onclick = function(event) {
			if (event.target == modal) {
				modal.style.display = "none";
			}
		}
	</script>
	<script>
		// Get the modal
		var modal = document.getElementById('id02');

		// When the user clicks anywhere outside of the modal, close it
		window.onclick = function(event) {
			if (event.target == modal) {
				modal.style.display = "none";
			}
		}
	</script>

</body>
</html>