<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>Lista fotografi</title>

<!-- Bootstrap core CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">

<!-- Custom styles for this template -->
<link href="/CSS/main.css" rel="stylesheet">
<link href="/CSS/toolbar.css" rel="stylesheet">
<link href="/CSS/login.css" rel="stylesheet">
</head>

<body class="bg-light">
	<!-- QUESTO SERVE AD AGGIUNGERE LA TOOLBAR (E PIU' SOTTO IL FOOTER)
	SENZA DOVER DUPLICARE/RISCRIVERE IL CODICE 
	VERRA' MODIFICATO COSI' UNA VOLTA INSERITO GLI UTENTI -->
	<header th:insert="${role} ?  ~{toolbar :: admin} : ~{toolbar :: normal}"></header>

	<div class="container my-5 mr-auto">
		<!-- Questo bottone lo può vedere solo l'admin -->
		<a th:href="@{/nuovoFotografo}" class="btn btn-primary btn-lg">Aggiungi un nuovo fotografo</a>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-4 mb-5" th:each="fotografo : ${fotografi}">
				<img class="bd-placeholder-img rounded-circle" width="140"
					height="140" focusable="false" role="img" th:if="${fotografo.propic} != null"
					th:src="@{'/images/' + ${fotografo.id} + '/' + ${fotografo.propic.album.id} + '/' + ${fotografo.propic.nome}}">
				<h4 class="text-capitalize"
					th:text="${fotografo.nome} + ' ' + ${fotografo.cognome}">Nome
					Fotografo</h4>
				<p class="lead text-muted" th:text="${fotografo.email}">Informazioni
					del Fotografo</p>
				<p class="lead text-muted" th:text="${fotografo.telefono}"></p>
				<p>
					<a class="btn btn-secondary"
						th:href="@{'/fotografo/' + ${fotografo.id}}" role="button">Vedi Dettagli »</a>
				</p>
			</div>
		</div>
		<footer th:insert="~{footer :: footer}"></footer>
	</div>
		<script>
		// Get the modal
		var modal = document.getElementById('id01');

		// When the user clicks anywhere outside of the modal, close it
		window.onclick = function(event) {
			if (event.target == modal) {
				modal.style.display = "none";
			}
		}
	</script>
</body>
</html>