<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>Home</title>

<!-- Bootstrap core CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">

<!-- Custom styles for this template -->
<link href="/CSS/main.css" rel="stylesheet">
<link href="/CSS/toolbar.css" rel="stylesheet">
</head>

<body class="bg-light">

	<!-- QUESTO SERVE AD AGGIUNGERE LA TOOLBAR (E PIU' SOTTO IL FOOTER)
	SENZA DOVER DUPLICARE/RISCRIVERE IL CODICE -->
	<header th:insert = "~{toolbar :: toolbar}"></header>
	
	<div class="container">
	
		<!-- Tasto cerca -->
		<div class="px-5 py-5">
			<form class="form-inline mt-2 mt-md-0" th:action="@{/cerca}" method="get" th:object="${param}">
				<input class="form-control form-control-lg text-center mr-5" type="text" name="param"
				placeholder="Cosa stai cercando?" aria-label="Search">
				<button class="btn btn-primary btn-lg my-2 my-sm-0" type="submit">Cerca</button>
			</form>
		</div>
		
		<h4 class="mb-5">Oppure sfoglia i nostri fotografi:</h4>
		<div class="row">
			<div class="col-md-4" th:each="fotografo : ${fotografi}">
				<svg class="bd-placeholder-img rounded-circle" width="140"
					height="140" focusable="false" role="img">		
					<rect width="100%" height="100%" fill="#777"></rect>
				</svg>
				<h2 class="text-capitalize"
					th:text="${fotografo.nome} + ' ' + ${fotografo.cognome}">Nome Fotografo</h2>
				<p class="lead text-muted" th:text="${fotografo.email}">Informazioni del Fotografo</p>
				<p class="lead text-muted" th:text="${fotografo.telefono}"></p>
				<p>
					<a class="btn btn-secondary" role="button"
						th:href="@{'/fotografo' + '/' + ${fotografo.id}}">View details »</a>
				</p>
			</div>
		</div>
		
		<footer th:insert = "~{footer :: footer}"></footer>	
	</div>
</body>
</html>