<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
<title>Richiesta Foto</title>

<!-- Bootstrap core CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">

<!-- Custom styles for this template -->
<link href="/CSS/main.css" rel="stylesheet">
<link href="/CSS/toolbar.css" rel="stylesheet">
<link href="/CSS/richiesta.css" rel="stylesheet">
</head>

<body class="bg-light">
	<header>
		<nav
			class="navbar fixed-top navbar-expand flex-column flex-md-row bd-navbar">
			<b class="logo navbar-brand mx-auto">SILPH SPA</b>
			<div class="container">
				<ul class="navbar-nav flex-row ml-5">
					<li><a class="nav-link p-2" href="#"> Home </a></li>
					<li><a class="nav-link p-2" href="#"> Fotografi </a></li>
					<li>
						<!-- Da inserire un comando di thymeleaf in modo che lo veda solo l'admin -->
						<a class="nav-link p-2" href="#"> Richieste </a>
					</li>
				</ul>
			</div>
			<ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
				<li class="nav-item"><a class="nav-link p-2" href="#">
						Autenticati </a></li>
			</ul>
		</nav>
	</header>
	
	<div class="container">
		<div class="py-5 text-center">
			
			<h2>Richiesta Foto</h2>
			<!-- Modificare il nome che non mi piace -->
			<p class="lead">Completa le informazioni qui sotto per effettuare la richiesta delle foto</p>
		</div>
		<div class="row">
			<div class="col-md-4 order-md-2 mb-4">
				<h4 class="d-flex justify-content-between align-items-center mb-3">
					<span class="text-muted">Le tue Foto</span>
					<!-- qui ci va il numero delle foto selezionate -->
					<span class="badge badge-secondary badge-pill">3</span>
				</h4>
				
				<!-- questo va cambiato (dinamicamente) -->
				<ul class="list-group mb-3">
					<li
						class="list-group-item d-flex justify-content-between lh-condensed">
						<div>
							<h6 class="my-0">Nome foto</h6>
							<!-- qui ci potremmo mettere il nome del fotografo -->
							<small class="text-muted">Nome Fotografo</small>
						</div> <!-- anteprima foto (!?) --> <span class="text-muted">Anteprima
							foto</span>
					</li>
					<li
						class="list-group-item d-flex justify-content-between lh-condensed">
						<div>
							<h6 class="my-0">Nome foto</h6>
							<!-- qui ci potremmo mettere il nome del fotografo -->
							<small class="text-muted">Nome Fotografo</small>
						</div> <!-- anteprima foto --> <span class="text-muted">Anteprima
							foto</span>
					</li>
					<li
						class="list-group-item d-flex justify-content-between lh-condensed">
						<div>
							<h6 class="my-0">Nome foto</h6>
							<!-- qui ci potremmo mettere il nome del fotografo -->
							<small class="text-muted">Nome Fotografo</small>
						</div> <!-- anteprima foto --> <span class="text-muted">Anteprima
							foto</span>
					</li>
				</ul>
			</div>
			
			<div class="col-md-8 order-md-1">
				<!-- da modificare -->
				<h4 class="mb-3">Informazioni Cliente</h4>
				<form th:action="@{/salvaRichiesta}" method="post" th:object="${richiesta}">
				<!-- class="needs-validation" novalidate=""  -->
					<div class="row">
						<div class="col-md-6 mb-3">
							<label for="nome">Nome <span class="text-muted">(Obbligatorio)</span></label>
							<input type="text" class="form-control"
								placeholder="Mario" th:field="*{nome}" required="">
						</div>
						
						
						<div class="col-md-6 mb-3">
							<label for="cognome">Cognome <span class="text-muted">(Obbligatorio)</span></label>
							<input type="text" class="form-control"
								placeholder="Rossi" th:field="*{cognome}" required="">
						</div>
						
					</div>
					<div class="row">
						<div class="col-md-6 mb-3">
							<label for="email">Email <span class="text-muted">(Obbligatoria)</span></label>
							<input type="email" class="form-control"
								placeholder="you@example.com" th:field="*{email}" required="">
						</div>
						
						<div class="col-md-6 mb-3">
							<label for="telefono">Telefono Cellulare <span
								class="text-muted">(Obbligatorio)</span></label> <input type="text"
								class="form-control" placeholder="" th:field="*{telefono}" required="">
						</div>
					</div>
					
					<div class="row">
						<div class="col-md-12 mb-3">
							<label for="codiceFiscale">Codice Fiscale <span
								class="text-muted">(Obbligatorio)</span></label>
								<input type="text" class="form-control"
								placeholder="RSSMRA80A01H501L" th:field="*{codiceFiscale}" required=""
								pattern="^[a-zA-Z]{6}[0-9]{2}[a-zA-Z][0-9]{2}[a-zA-Z][0-9]{3}[a-zA-Z]$"
								maxlength="16">
						</div>
					</div>
					
					<div class="row">
						<div class="col-md-9 mb-3">
							<label for="indirizzo">Indirizzo <span class="text-muted">(Obbligatorio)</span></label>
							<input type="text" class="form-control"
								placeholder="Via della Vasca Navale" th:field="*{indirizzo}" required="">
						</div>
						
						<div class="col-md-3 mb-3">
							<label for="civico">N°</label>
							<input type="text" class="form-control"
							placeholder="79" th:field="*{civico}" required=""
								maxlength="3">
						</div>
					</div>
					
					<div class="row">
						<div class="col-md-5 mb-3">
							<label for="paese">Paese</label> 
							<select th:field="*{paese}"
								class="custom-select d-block w-100" required="">
								<option th:value="seleziona" th:text="Seleziona..." selected></option>
								<option th:each="p : ${paesi}" th:value="${p}" th:text="${p}"></option>
							</select>
						</div>
						
						<div class="col-md-4 mb-3">
							<label for="regione">Regione</label>
							<select th:field="*{regione}"
								class="custom-select d-block w-100" required="">
								<option th:value="seleziona" th:text="Seleziona..."  selected></option>
								<option th:value="LZ" th:text="Lazio"></option>
							</select>
						</div>
						
						<div class="col-md-3 mb-3">
							<label for="cap">CAP</label>
							<input type="text" class="form-control"
								placeholder="00118" th:field="*{cap}" required=""
								maxlength="5" pattern="^[0-9]{5}$">
						</div>
					</div>
					
					<div class="row">
						<div class="col-md-12 mb-3">
							<label for="note">Note <span class="text-muted">(Opzionale)</span></label>
							<input type="text" class="form-control h-100" placeholder="" th:field="*{note}" >
						</div>
					</div>
					
					<hr class="mb-4">
					<button class="btn btn-primary btn-lg btn-block" type="submit">Riepilogo</button>
				</form>
			</div>
		</div>
		<footer class="text-muted">
		<div class="container">
			<p class="float-right">
				<a href="#">Torna all'inizio</a>
			</p>
			<!-- qui ci va il *coso* di silph spa -->
			<p>Silph SPA ©</p>
		</div>
	</footer>
	</div>
	<script src="Checkout%20example%20%C2%B7%20Bootstrap_files/jquery-3.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script>
		window.jQuery
				|| document
						.write('<script src="/docs/4.3/assets/js/vendor/jquery-slim.min.js"><\/script>')
	</script>
	<script
		src="Checkout%20example%20%C2%B7%20Bootstrap_files/bootstrap.js"
		integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o"
		crossorigin="anonymous"></script>
	<script
		src="Checkout%20example%20%C2%B7%20Bootstrap_files/form-validation.js"></script>
</body>
</html>