<!DOCTYPE html>
<html  lang="it" xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
<title>Search</title>

<!-- Bootstrap core CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">

<!-- Custom styles for this template -->
<link href="/CSS/main.css" rel="stylesheet">
<link href="/CSS/toolbar.css" rel="stylesheet">
<link href="/CSS/login.css" rel="stylesheet">
<link href="/CSS/album.css" rel="stylesheet">
</head>

<body class="bg-light">

	<!-- QUESTO SERVE AD AGGIUNGERE LA TOOLBAR (E PIU' SOTTO IL FOOTER)
	SENZA DOVER DUPLICARE/RISCRIVERE IL CODICE -->
	<header th:insert="${role} ?  ~{toolbar :: admin} : ~{toolbar :: normal}"></header>
	
	<div class="container">
	
		<!-- Tasto cerca -->
		<div class="px-5 py-5">
			<form class="form-inline mt-2 mt-md-0" th:action="@{/cerca}" method="get" th:object="${param}">
				<input class="form-control form-control-lg text-center mr-5" type="text" name="param"
				placeholder="Cosa stai cercando?" aria-label="Search">
				<button class="btn btn-primary btn-lg my-2 my-sm-0" type="submit">Cerca</button>
			</form>
		</div>
		
		<h2 class="mb-5">Ecco i risultati:</h2>
		<h4 class="mb-5">Foto:</h4>
		<div class="row">
			<h6 class="mb-5 ml-4" th:if="${fotografie.isEmpty()}">Nessuna foto da mostrare</h6>
			<div class="col-md-4 mb-5" th:each="foto : ${fotografie}">
				<img class="rounded-circle" width="140"
					height="140" th:src="@{'/images/' + ${foto.fotografo.id} + '/' + ${foto.album.id} + '/' + ${foto.nome}}">
				<h2 class="text-capitalize"
					th:text="${foto.nome}">Nome Foto</h2>
				<p>
					<button class="btn btn-secondary" onclick="document.getElementById('id02').style.display='block'"
						> Ingrandisci »</button>
				<div id="id02" class="foto modal">
						<!-- in realtà questo th:action dovrebbe inserire nel carrello -->
						<form class="contenuto modal-content animate" method="post"
							th:action="@{'/fotografo/' + ${idFotografo} + 
							'/album/' + ${idAlbum} + '/foto/' + ${idFoto}}">
							<div class="fotocontainer mb-4">
								<span
									onclick="document.getElementById('id02').style.display='none'"
									
									class="close" title="Chiudi">&times;</span>
									<img class="fotografia"
									th:src="@{'/images/' + ${foto.fotografo.id} + '/' + ${foto.album.id} + '/' + ${foto.nome}}">
							</div>
							<button class="btn btn-primary mr-auto ml-auto mb-5"
								type="submit">Aggiungi al carrello</button>
						</form>
						</div>
				</p>
			</div>
		</div>
		<h4 class="mb-5">Album:</h4>
		<div class="row">
			<h6 class="mb-5 ml-4" th:if="${albums.isEmpty()}">Nessun album da mostrare</h6>
			<div class="col-md-4 mb-5" th:each="album : ${albums}">
				<img class="card-img-top" width="100%" height="225" th:if="${album.propic} != null"
						th:src="@{'/images/' + ${album.fotografo.id} + '/' + ${album.id} + '/' + ${album.propic.nome}}">
				<h2 class="text-capitalize"
					th:text="${album.nome}">Nome Album</h2>
				<p>
					<a class="btn btn-secondary" role="button"
						th:href="@{'/fotografo/' + ${album.fotografo.id} + '/album' + '/' + ${album.id}}">Vedi Foto »</a>
				</p>
			</div>
		</div>
		<h4 class="mb-5">Fotografi:</h4>
		<div class="row">
			<h6 class="mb-5 ml-4" th:if="${fotografi.isEmpty()}">Nessun fotografo da mostrare</h6>
			<div class="col-md-4 mb-5" th:each="fotografo : ${fotografi}">
				<img class="bd-placeholder-img rounded-circle" width="140"
					height="140" focusable="false" role="img" th:if="${fotografo.propic} != null"
					th:src="@{'/images/' + ${fotografo.id} + '/' + ${fotografo.propic.album.id} + '/' + ${fotografo.propic.nome}}">
				<h2 class="text-capitalize"
					th:text="${fotografo.nome} + ' ' + ${fotografo.cognome}">Nome Fotografo</h2>
				<p class="lead text-muted" th:text="${fotografo.email}">Informazioni del Fotografo</p>
				<p class="lead text-muted" th:text="${fotografo.telefono}"></p>
				<p>
					<a class="btn btn-secondary" role="button"
						th:href="@{'/fotografo' + '/' + ${fotografo.id}}">Vedi Dettagli »</a>
				</p>
			</div>
		</div>
		
		
		<footer th:insert = "~{footer :: footer}"></footer>	
	</div>
		<script>
		// Get the modal
		var modal = document.getElementById('id01');

		// When the user clicks anywhere outside of the modal, close it
		window.onclick = function(event) {
			if (event.target == modal) {
				modal.style.display = "none";
			}
		}
	</script>
	<script>
		// Get the modal
		var modal = document.getElementById('id02');

		// When the user clicks anywhere outside of the modal, close it
		window.onclick = function(event) {
			if (event.target == modal) {
				modal.style.display = "none";
			}
		}
	</script>
</body>
</html>